<html>
    <head>
     <title></title>
    </head>
    <body>
     <h3>enter a new task ☹️</h3>
     <form class='form' action='/tasks' method='post'>
        Title: <input class='form-control' type='text' name='title'>
        Description <textarea class='form-control' type='text' name='description'></textarea>
        <input type="submit" value="Submit">
      <a href="/main" role="button">To Task list</a>
     </form>
    </body>
    </html>